# Shop Identifikation
SHOP_NAME=__SHOP_NAME__
SHOP_DOMAIN=__SHOP_DOMAIN__
NGINX_PORT=__NGINX_PORT__

# PostgreSQL
POSTGRES_USER=medusa
POSTGRES_DB=medusa_db
POSTGRES_PASSWORD=__POSTGRES_PASSWORD__

# Redis (ohne Passwort, nur intern erreichbar)

# Medusa Secrets
JWT_SECRET=__JWT_SECRET__
COOKIE_SECRET=__COOKIE_SECRET__

# Medusa Publishable API Key (wird nach erstem Start erstellt)
MEDUSA_PUBLISHABLE_KEY=__PUBLISHABLE_KEY__

# Admin
MEDUSA_ADMIN_EMAIL=__ADMIN_EMAIL__
